form{ 
    .outlinedInput { 
        position: relative;
        margin-bottom: 15px;
        label{ 
            background: white;
            position: absolute;
            top: -15%;
            left: 10px;
            padding: 0 3px;
        }
    
        .form-control{ 
            &.is-invalid ~ .form-label { 
                top: -20% !important;
            }
            &.is-invalid ~ .invalid-feedback { 
                margin: 0;
            }
            &.is-invalid{ 
                & ~ i { 
                    top: 40%;
                }
                background-image: none;
            }
        }
    }


    &.dark{ 
        label{
            background-color: $dark;
            color: $light;
        }
    }
}

.passPreview{ 
    display: inline-block;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: .5em;
    cursor: pointer;
    &.closed{ 
        content: url('../assets/images/icons/password-preview-closed.svg');
        &.dark { 
            content: url('../assets/images/icons/password-preview-closed-light.svg');
        }
    }
    &.open{ 
        content: url('../assets/images/icons/password-preview-open.svg');
        &.dark { 
            content: url('../assets/images/icons/password-preview-open-light.svg');
        }
    }
}

[data-bs-theme=dark]{ 
    .error, 
    .invalid-feedback { 
        color: $redDanger;
    }

    .is-invalid{ 
        border-color: $redDanger ;
    }
}


.error { 
    font-size: 16px;
    color: $redDanger;
}