//COLORS
$lightgray: #dee2e6;
$darkgray: #494949;

//FORMS 

$red:     #850e1c !default;
$primary: #850e1c;
$redDanger: #FF0000;

$redColorHover: #710c18;

//FONTS
* { 
    font-family: 'GeneralSans-Regular' !important ;
}